$bg-color: #fff;
$primary-color: #555;
$secondary-color: #000;
$link-color: #05c;
$target-bg-color: #ffc;
$hr-color: #ccc;
$table-border-color: #ccc;
$code-bg-color: #f8f8f8;
$code-color: #555;
$code-border-color: #e0e0e0;
